h1, h2, h3 {
    font-family: $default-font;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: left;
    text-transform: uppercase;
    color: #000000;
    margin: 0;
}
h1  {
    font-size: 45px;
}
h2  {
    font-size: 36px;
}
h3 {
    font-size: 21px;
}
h4 {
    
}
h5 {

}
h6 {

}
p {
    font-family: $default-font;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: normal;
    text-align: left;
    
    color: #000000;    
}
.large-text {
    @extend p;
    font-size: 20px;
}
button {

}

.btn-primary {
    margin: 0 auto;
    margin-bottom: 20px;
    display: block;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}