/*!
Author: Jack Saunders
Version: 1.0
*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/easytrade\/assets\/css\/base\/elements\.scss}line{font-family:\000031}}
h1, h2, h3 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: left;
  text-transform: uppercase;
  color: #000000;
  margin: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/easytrade\/assets\/css\/base\/elements\.scss}line{font-family:\0000311}}
h1 {
  font-size: 45px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/easytrade\/assets\/css\/base\/elements\.scss}line{font-family:\0000314}}
h2 {
  font-size: 36px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/easytrade\/assets\/css\/base\/elements\.scss}line{font-family:\0000317}}
h3 {
  font-size: 21px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/easytrade\/assets\/css\/base\/elements\.scss}line{font-family:\0000329}}
p, .large-text {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: normal;
  text-align: left;
  color: #000000; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/easytrade\/assets\/css\/base\/elements\.scss}line{font-family:\0000339}}
.large-text {
  font-size: 20px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/easytrade\/assets\/css\/base\/elements\.scss}line{font-family:\0000347}}
.btn-primary {
  margin: 0 auto;
  margin-bottom: 20px;
  display: block;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/easytrade\/assets\/css\/base\/header\.scss}line{font-family:\000031}}
.navbar-inverse {
  background-color: #2F4C57;
  border: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/easytrade\/assets\/css\/base\/header\.scss}line{font-family:\000036}}
  .navbar-inverse .navbar-form .input-group-btn button {
    padding: 9px 12px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/easytrade\/assets\/css\/base\/header\.scss}line{font-family:\0000313}}
  .navbar-inverse .navbar-nav li a {
    color: #fff; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/easytrade\/assets\/css\/base\/header\.scss}line{font-family:\0000315}}
    .navbar-inverse .navbar-nav li a:hover {
      background-color: #ddd;
      color: black; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/easytrade\/assets\/css\/base\/header\.scss}line{font-family:\0000319}}
    .navbar-inverse .navbar-nav li a.signin {
      border: 2px solid #fff;
      padding-top: 6px;
      padding-bottom: 6px;
      margin-top: 7px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/easytrade\/assets\/css\/base\/header\.scss}line{font-family:\0000325}}
    .navbar-inverse .navbar-nav li a h3 {
      font-size: 17px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/easytrade\/assets\/css\/base\/header\.scss}line{font-family:\0000330}}
  .navbar-inverse .navbar-nav li.active a {
    background-color: #2F4C57;
    color: #fff; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/easytrade\/assets\/css\/base\/header\.scss}line{font-family:\0000334}}
  .navbar-inverse .navbar-nav li.active:hover {
    background-color: #ddd;
    color: black; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/easytrade\/assets\/css\/base\/header\.scss}line{font-family:\0000341}}
  .navbar-inverse .navbar-nav .profile {
    height: 40px;
    padding: 3%;
    color: #fff; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/easytrade\/assets\/css\/base\/footer\.scss}line{font-family:\000031}}
footer {
  background: #3F729B;
  padding: 30px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/easytrade\/assets\/css\/base\/footer\.scss}line{font-family:\000034}}
  footer .row {
    padding: 10px 0px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/easytrade\/assets\/css\/base\/footer\.scss}line{font-family:\000036}}
    footer .row h3 {
      text-transform: uppercase;
      text-align: left;
      color: #fff; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/easytrade\/assets\/css\/base\/footer\.scss}line{font-family:\0000311}}
    footer .row p, footer .row .large-text {
      text-align: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/easytrade\/assets\/css\/base\/footer\.scss}line{font-family:\0000314}}
    footer .row.dark-blue {
      background-color: #1c2331; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/easytrade\/assets\/css\/base\/footer\.scss}line{font-family:\0000316}}
      footer .row.dark-blue p, footer .row.dark-blue .large-text {
        font-size: 10px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/easytrade\/assets\/css\/base\/layout\.scss}line{font-family:\000031}}
body, html {
  height: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/easytrade\/assets\/css\/base\/layout\.scss}line{font-family:\000035}}
.full-width-block {
  background: #FFF;
  padding: 30px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/easytrade\/assets\/css\/base\/admin-header\.scss}line{font-family:\000031}}
.admin-header {
  /* The navigation bar */
  /* Links inside the navbar */
  /* Change background on mouse-over */
  /* The sidebar menu */
  /* The navigation menu links */
  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */ }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/easytrade\/assets\/css\/base\/admin-header\.scss}line{font-family:\000034}}
  .admin-header .admin-navbar {
    overflow: hidden;
    background-color: #2F4C57;
    position: fixed;
    /* Set the navbar to fixed position */
    z-index: 3;
    /* Stay on top */
    top: 0;
    /* Position the navbar at the top of the page */
    width: 100%;
    /* Full width */
    font-size: 17px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/easytrade\/assets\/css\/base\/admin-header\.scss}line{font-family:\0000312}}
    .admin-header .admin-navbar .navbar {
      margin-bottom: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/easytrade\/assets\/css\/base\/admin-header\.scss}line{font-family:\0000318}}
  .admin-header .admin-navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/easytrade\/assets\/css\/base\/admin-header\.scss}line{font-family:\0000328}}
  .admin-header .admin-navbar a:hover {
    background: #3b5f6d;
    color: #ffffff; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/easytrade\/assets\/css\/base\/admin-header\.scss}line{font-family:\0000334}}
  .admin-header .sidenav {
    height: 100%;
    /* Full-height: remove this if you want "auto" height */
    width: 160px;
    /* Set the width of the sidebar */
    position: fixed;
    /* Fixed Sidebar (stay in place on scroll) */
    z-index: 2;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    left: 0;
    background-color: #4b7180;
    /* Black */
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 55px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/easytrade\/assets\/css\/base\/admin-header\.scss}line{font-family:\0000347}}
  .admin-header .sidenav a, .admin-header .dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #dddddd;
    display: block;
    position: relative;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/easytrade\/assets\/css\/base\/admin-header\.scss}line{font-family:\0000361}}
    .admin-header .sidenav a:hover, .admin-header .dropdown-btn:hover {
      color: #f1f1f1; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/easytrade\/assets\/css\/base\/admin-header\.scss}line{font-family:\0000366}}
    .admin-header .sidenav a.active::after, .admin-header .dropdown-btn.active::after {
      content: "";
      border-top: 20px solid transparent;
      border-bottom: 20px solid transparent;
      border-right: 20px solid red;
      position: absolute;
      right: 0;
      top: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/easytrade\/assets\/css\/base\/admin-header\.scss}line{font-family:\0000378}}
  .admin-header .dropdown-container {
    display: none;
    background-color: #262626;
    padding-left: 8px; }
  @media screen and (max-height: 450px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/easytrade\/assets\/css\/base\/admin-header\.scss}line{font-family:\0000386}}
    .admin-header .sidenav {
      padding-top: 15px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/easytrade\/assets\/css\/base\/admin-header\.scss}line{font-family:\0000387}}
    .admin-header .sidenav a {
      font-size: 18px; } }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/easytrade\/assets\/css\/base\/admin-header\.scss}line{font-family:\0000392}}
.admin-page {
  padding: 62px 10px;
  padding-left: 172px;
  /* Same as the width of the sidebar */ }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/easytrade\/assets\/css\/base\/core-site-info\.scss}line{font-family:\000031}}
.square {
  background-color: #fff;
  float: right;
  width: 30%;
  height: 30%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/easytrade\/assets\/css\/templates\/home\.scss}line{font-family:\000032}}
.home .parallax {
  background-image: url("/easytrade/assets/img/paint1.jpg");
  height: 85%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/easytrade\/assets\/css\/templates\/home\.scss}line{font-family:\000036}}
.home h1, .home h2 {
  position: absolute;
  left: 50%;
  /* position the left edge of the element at the middle of the parent */
  transform: translate(-50%, -50%);
  font-weight: 500;
  line-height: normal;
  text-align: center;
  color: #FFFFFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/easytrade\/assets\/css\/templates\/home\.scss}line{font-family:\0000316}}
.home h1 {
  top: 32%;
  /* position the top  edge of the element at the middle of the parent */
  font-size: 30px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/easytrade\/assets\/css\/templates\/home\.scss}line{font-family:\0000320}}
.home h2 {
  top: 37%;
  /* position the top  edge of the element at the middle of the parent */
  font-size: 20px;
  width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/easytrade\/assets\/css\/templates\/home\.scss}line{font-family:\0000325}}
.home .homesearch {
  padding: 6px;
  position: absolute;
  top: 50%;
  /* position the top  edge of the element at the middle of the parent */
  left: 50%;
  /* position the left edge of the element at the middle of the parent */
  transform: translate(-50%, -50%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-width: 0px;
  width: 50%;
  height: 8%;
  font-size: 24px;
  font-family: "Raleway"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/easytrade\/assets\/css\/templates\/about\.scss}line{font-family:\000032}}
.about .parallax {
  background-image: url("/easytrade/assets/img/paint6copy.jpg");
  height: 0%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/easytrade\/assets\/css\/templates\/about\.scss}line{font-family:\000038}}
.wbackground {
  background-color: #fff;
  font-size: 36px;
  padding: 10px;
  justify-content: space-around; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/easytrade\/assets\/css\/templates\/about\.scss}line{font-family:\0000315}}
.bbackground {
  background-color: #fff;
  font-size: 36px;
  padding: 10px;
  justify-content: space-around; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/easytrade\/assets\/css\/blocks\/page-header\.scss}line{font-family:\000031}}
.page-header, .page-header-overlay {
  background-image: url("/easytrade/assets/img/paint1.jpg");
  height: 42%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100%;
  margin: 0;
  border: none;
  padding: 0;
  padding: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/easytrade\/assets\/css\/blocks\/page-header\.scss}line{font-family:\0000315}}
.page-header-overlay {
  height: 50%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/easytrade\/assets\/css\/blocks\/page-header\.scss}line{font-family:\0000317}}
  .page-header-overlay .shape {
    position: absolute;
    top: 30%;
    left: 2%;
    background: #B03D55;
    height: 60%;
    width: 40%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/easytrade\/assets\/css\/blocks\/page-header\.scss}line{font-family:\0000324}}
    .page-header-overlay .shape::before {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      border: 0 solid transparent;
      border-left-width: 0px;
      border-right-width: 372px;
      border-bottom: 39px solid #B03D55;
      top: -39px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/easytrade\/assets\/css\/blocks\/page-header\.scss}line{font-family:\0000335}}
    .page-header-overlay .shape::after {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      border: 0 solid transparent;
      border-top-width: 5px;
      border-bottom-width: 193px;
      border-left: 39px solid #B03D55;
      right: -39px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/easytrade\/assets\/css\/blocks\/parallax\.scss}line{font-family:\000031}}
.parallax {
  background-image: url("/easytrade/assets/img/paint1.jpg");
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/easytrade\/assets\/css\/blocks\/polaroid\.scss}line{font-family:\000032}}
.polaroid a {
  text-decoration: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/easytrade\/assets\/css\/blocks\/polaroid\.scss}line{font-family:\000034}}
  .polaroid a .polaroid-box {
    padding: 20px;
    text-align: center;
    box-shadow: 5px 10px 18px #888888;
    color: #000;
    text-decoration: none;
    background: #fff;
    border: 1px solid;
    padding: 20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/easytrade\/assets\/css\/blocks\/polaroid\.scss}line{font-family:\0000314}}
    .polaroid a .polaroid-box:hover {
      background: #dadada; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/easytrade\/assets\/css\/blocks\/polaroid\.scss}line{font-family:\0000318}}
    .polaroid a .polaroid-box .content {
      margin-top: 25px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/easytrade\/assets\/css\/blocks\/polaroid\.scss}line{font-family:\0000320}}
      .polaroid a .polaroid-box .content h3 {
        margin-bottom: 20px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/easytrade\/assets\/css\/blocks\/icon-block\.scss}line{font-family:\000031}}
.icon-block {
  padding: 4% 15%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/easytrade\/assets\/css\/blocks\/icon-block\.scss}line{font-family:\000033}}
  .icon-block h2, .icon-block h3, .icon-block p, .icon-block .large-text {
    text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/easytrade\/assets\/css\/blocks\/icon-block\.scss}line{font-family:\000036}}
  .icon-block .col-sm-4 {
    padding: 0 40px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/easytrade\/assets\/css\/blocks\/icon-block\.scss}line{font-family:\000039}}
  .icon-block img {
    margin: 0 auto;
    padding: 20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/easytrade\/assets\/css\/blocks\/icon-block\.scss}line{font-family:\0000313}}
  .icon-block h3 {
    padding: 10px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/easytrade\/assets\/css\/blocks\/image-message-block\.scss}line{font-family:\000031}}
.image-message-block {
  padding: 4%;
  background: #135067; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/easytrade\/assets\/css\/blocks\/image-message-block\.scss}line{font-family:\000035}}
  .image-message-block h2, .image-message-block p, .image-message-block .large-text {
    color: #fff; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/easytrade\/assets\/css\/blocks\/image-message-block\.scss}line{font-family:\000038}}
  .image-message-block h2 {
    padding: 5% 0px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/easytrade\/assets\/css\/blocks\/image-message-block\.scss}line{font-family:\0000311}}
  .image-message-block p, .image-message-block .large-text {
    padding-bottom: 20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/easytrade\/assets\/css\/blocks\/image-message-block\.scss}line{font-family:\0000314}}
  .image-message-block img {
    padding: 20px;
    background: #fff;
    box-shadow: 5px 5px 6px #00000073; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/easytrade\/assets\/css\/blocks\/image-message-block\.scss}line{font-family:\0000319}}
  .image-message-block button {
    margin: 0; }

/*# sourceMappingURL=style.css.map */
