.icon-block {
    padding: 4% 15%;
    h2, h3, p {
        text-align: center;
    }
    .col-sm-4 {
        padding: 0 40px;
    }
    img {
        margin: 0 auto;
        padding: 20px;
    }
    h3 {
        padding: 10px;
    }
}