.page-header, .page-header-overlay {
    background-image: url('/easytrade/assets/img/paint1.jpg');   
    height: 42%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    margin: 0;
    border: none;
    padding: 0;
    padding: 0;
}
.page-header-overlay {
    height: 50%;
    .shape {
        position: absolute;
        top: 30%;
        left: 2%;
        background: #B03D55;
        height: 60%;
        width: 40%;
        &::before {
            content: '';
            position: absolute;
            width: 0;
            height: 0;
            border: 0 solid transparent;
            border-left-width: 0px;
            border-right-width: 372px;
            border-bottom: 39px solid #B03D55;
            top: -39px;
        }
        &::after {
            content: '';
            position: absolute;
            width: 0;
            height: 0;
            border: 0 solid transparent;
            border-top-width: 5px;
            border-bottom-width: 193px;
            border-left: 39px solid #B03D55;
            right: -39px;
        }
    }
}