.parallax {
    background-image: url('/easytrade/assets/img/woman-painting.jpg');   
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}